
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e2e2e2;
    
}







.color{
    color: rgb(0, 48, 73);
    color: rgb(214, 40, 40);
    color: rgb(247, 127, 0);
    color: rgb(252, 191, 73);
    color: rgb(234, 226, 183);
}
