header{
    width: 100%;
    height: 9vh;
    background-color: #003049;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.5);
    z-index: 2;

    .header-top {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .fit-title{
            width: 15%;
            margin: 0 0 0 auto;

            h1{
                font-size: 22px;
                letter-spacing: 1.5px;
                font-family: 'Libre Baskerville', serif;
                a{
                    text-decoration: none;
                    color: #d62828;
                }
            }
        } 

        .navbar{
            width: 70%;
            // margin: 0 auto 0 0;

            ul{
                display: flex;
                justify-content: center;
                align-items: center;

                li{
                    list-style: none;
                    text-transform: uppercase;
                    padding: 15px;

                    a{
                        font-weight: 600;
                        font-size: 20px;
                        text-decoration: none;
                        color: #eae2b7;
                        letter-spacing: 1px;
                        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
                        &:hover{
                            color: #be7b0f;
                        }
                    }
                }
            }
            
        }

        .account{
            width: 25%;
            height: 100%;
            margin: 0 auto 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .userInfo-btn{

                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: #e4c200;
                    transition: 0.35s;

                    // &:hover{
                    //     color: #bea200;
                    // }

                    i{
                        margin-right: 10px;
                    }
                }
            }

            p{
                margin: 10px;
                font-size: 12px;
            }

            button {
                width: 80px;
                height: 30px;
                font-weight: 600;
                background-color: #fca311;
                color: #14213d;
                border: 0;
                transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
                cursor: pointer;

                &:hover{
                    background-color: #f18b46;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
 

}
.subheader{
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: #fcbf49;

}