@import "./mediaQueries.scss";

header{
    width: 100%;
    height: 9vh;
    background-color: #003049;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.5);
    z-index: 999;
    @include media("<=tablet"){
        height: 10vh;
    }

    @include media("<=big-tablet"){
        height: 8vh;
    }

    .header-top {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media("<=big-tablet"){
            width: 80%;
        }
        @include media("<=phone"){
            width: 100%;
        }

        .fit-title{
            width: 30%;
            margin: auto;
            text-align: center;

            @include media("<=tablet"){
                width: 0;
            }

            img{
                width: 150px;
                height: 60px;

                @include media("<=tablet"){
                    display: none;
                }

                @include media("<=big-tablet"){
                    width: 120px;
                    height: 40px;
                }

            }
        }

        .navbar{
            width: 70%;
            margin: auto;

            @include media("<=tablet"){
                width: 100%; 
            }

            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                
                

                li{
                    list-style: none;
                    text-transform: uppercase;

                    @include media("<=phone"){
                        padding: 5px;
                    }

                    @include media("<=tablet"){
                        padding: 10px;
                    }

                    @include media("<=big-tablet"){
                        padding: 15px;
                    }

                    a{
                        font-family: 'Hammersmith One', sans-serif;
                        font-weight: 600;
                        font-size: 30px;
                        text-decoration: none;
                        color:  #be7b0f;
                        letter-spacing: 1px;
                        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
                        &:hover{
                            color: #eae2b7;
                        }

                        
                       

                        @include media("<=big-tablet"){
                            font-size: 22px
                        }

                        @include media("<=tablet"){
                            font-size: 16px;
                        }

                        @include media("<=phone"){
                            font-size: 14px;
                        }

                    }
                }
            }

        }

        .account{
            width: 25%;
            height: 100%;
            margin: 0 auto 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .userInfo-btn{

                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: #e4c200;
                    transition: 0.35s;

                    // &:hover{
                    //     color: #bea200;
                    // }

                    i{
                        margin-right: 10px;
                    }
                }
            }

            p{
                margin: 10px;
                font-size: 12px;
            }

            button {
                width: 80px;
                height: 30px;
                font-weight: 600;
                background-color: #fca311;
                color: #14213d;
                border: 0;
                transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
                cursor: pointer;

                &:hover{
                    background-color: #f18b46;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }


}
.subheader{
    width: 100%;
    height: 5px;
    margin: 0;
    background-color: #fcbf49;

}

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
