@import "./mediaQueries.scss";

.mypage-header{
    width: 100%;
    height: 40vh;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/myPage.jpg');

    

    .mypage-grad{
        width: 100%;
        height: 40vh;
        background-image: 
        linear-gradient(to bottom, rgba(29, 41, 110, 0),
        rgba(0, 0, 0, 0.9)),;

        .mypage-header-content{
        width: 60%;
        margin: auto;
        padding: 100px 200px;
        @include media("<=phone"){
            padding: 30px;
            padding-top: 100px;
            text-align: center
          }

        @include media("<=big-tablet"){
            width: 90%;
            text-align: center;
        }
        h1{
            color: rgb(255, 255, 255);
            font-family: 'Hammersmith One', sans-serif;
            font-size: 72px;
            text-transform: uppercase;

            @include media("<=phone"){
                font-size: 52px;
              }
        }
        p{
            color: rgb(201, 201, 201);
            font-family: 'Hammersmith One', sans-serif;
            font-size: 22px;
            @include media("<=phone"){
                font-size: 20px;
                color: rgb(255, 255, 255);
              }
        }
        }
    }
  }

